body{
    background-color: #d19896;
}

.container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #d19896;
}

p {
    color: #666;
}


input {
    background-color: #fefefe;
    border: 1px solid #d19896;
    color: #333333;

}

button {
    background-color: #d19896;
    color: white;

}

button:hover {
    background-color: #b1747a;
}

.gender-button {
    color: #d19896;
    /* color: white; */

}

.gender-button:hover {
    background-color: #b1747a;
}
