body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}


#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #fff;
}

.gender-button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none; /* Remove the underline */
    width: 200px; /* Fixed width */
    height: 60px; /* Fixed height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.male-button {
    background-color: #3498db;
}

.female-button {
    background-color: #e74c3c;
}

.gender-button:hover {
    opacity: 0.8;
}
