<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='indexStyle.css')}}">
    <title>두리안 옷 추천</title>
</head>

<body>
    <main>
        <div class="header">
            <h3>doorian</h3>
        </div>
        <div class="title">
            <h1>Dress to</h1>
            <h1>Shine</h1>
            <h1>Today</h1>
            <h3><span></span>only for you.</h3>
        </div>
        <div class="title__btns">
            <a href="/male">Male</a>
            <a href="/female">Female</a>
        </div>
    </main>
    <aside>
        <!-- photo -->
    </aside>
</body>

</html>

