<!DOCTYPE html>
<html>
<head>
    <title>Male Clothes Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='maleStyle.css')}}">
</head>
<body>
    <div class="container">
        <h1>Male Clothes Recommendations</h1>
        <p>Recommended clothes for Males</p>
        <form action="/result" method="get">
            <input placeholder="상황을 입력해주세요." required name="userQuestion" type="text">
            <button>결과 확인</button>
        </form>
        <br>
        <a href="/" class="gender-button">Go Back</a>
    </div>
</body>
</html>

<link rel="stylesheet" type="text/css" href="../static/maleStyle.css">
