<!DOCTYPE html>
<html>
<head>
    <title>Male Clothes Recommendations</title>
    <!-- 실행 화면 css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='maleStyle.css')}}">
    <!-- 로딩 화면 css -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
    <script>
        // 로딩 중임을 알리는 이벤트 리스너
        window.addEventListener('DOMContentLoaded', function() {
            var loadingOverlay = document.getElementById('loading-overlay');
            loadingOverlay.style.display = 'none';
        });
        window.addEventListener('beforeunload', function(event) {
            var loadingOverlay = document.getElementById('loading-overlay');
            loadingOverlay.style.display = 'flex';
        });
    </script>
</head>
<body>
    <!-- 로딩 화면 -->
    <div id="loading-overlay">
        <div class="loader"></div>
        <p>loading</p>
    </div>
    <!-- 실행 화면 -->
    <div class="container">
        <h1>Male Clothes Recommendations</h1>
        <p>Recommended clothes for Males</p>
        <form action="/result" method="get">
            <input placeholder="상황을 입력해주세요." required name="userQuestion" type="text">
            <button>결과 확인</button>
        </form>
        <br>
        <a href="/" class="gender-button">Go Back</a>
    </div>
</body>
</html>

<link rel="stylesheet" type="text/css" href="../static/maleStyle.css">
